@page "/penjualan/realisasidetail/{id?}"
@page "/penjualan/realisasiorder/{orderId?}"

@using ShareModels.ModelViews;
@using ApsWebApp.Pages.ShareComponent;
@using Radzen;

@attribute [Authorize]
@inject IMerkService merkService;
@inject IGudangService gudangService;
@inject ICustomerService customerService;
@inject IPenjualanService penjualanService;
@inject IProductService productService;
@inject IKaryawanService karyawanService;
@inject IStockService stockService;
@inject NavigationManager nav;
@inject NotificationService notificationService;
@inject IJSRuntime jSRuntime
@inject DialogService DialogService;

<div class="noprint">
    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text="Create/Edit Penjualan">
                <div class="col-md-12">
                    <RadzenFieldset Text="Data Penjualan" Style="font-size:14px">
                        <RadzenRow class="row">
                            <RadzenColumn Size="6">

                                <RadzenFormField Text="Nomor" class="rz-my-1 rz-w-100">
                                    <RadzenTextBox Disabled=true Value="@model.Nomor" Style="width:80%" />
                                </RadzenFormField>

                                <RadzenFormField Text="Customer" class="rz-my-1 rz-w-100">
                                    <RadzenDropDown AllowClear="true" AllowFiltering="true"
                                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                    Data=@customers
                                                    @bind-Value=@model.Customer
                                                    TextProperty="Name" Style="width:80%" />

                                </RadzenFormField>

                                <RadzenFormField Text="Sales" class="rz-my-1 rz-w-100">

                                    <RadzenDropDown AllowClear="true" AllowFiltering="true"
                                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                    Data=@sales
                                                    @bind-Value=@model.Salesman
                                                    TextProperty="Name" Style="width:80%" />
                                </RadzenFormField>



                            </RadzenColumn>
                            <RadzenColumn Size="6">
                                <RadzenFormField Text="Nomor PO" class="rz-my-1 rz-w-100">
                                    <RadzenTextBox Value="@(model.OrderPenjualan!=null?model.OrderPenjualan.Nomor:"-")" Style="width:80%" />
                                </RadzenFormField>
                                <RadzenFormField Text="Jatuh Tempo" class="rz-my-1 rz-w-100">
                                    <RadzenNumeric @bind-Value="model.DeadLine" TValue="double" Placeholder="0.0" Step="0.1" Style="width:80%" />
                                </RadzenFormField>
                                <RadzenFormField Text="Status Pembayaran" class="rz-my-1 rz-w-100">
                                    <RadzenTextBox Value="@model.Status.ToString()" Style="width:80%" />
                                </RadzenFormField>

                            </RadzenColumn>
                        </RadzenRow>

                    </RadzenFieldset>
                </div>
                <div class="col-md-12">
                    <RadzenFieldset Text="Data Orders">
                        <RadzenRow Visible="@(model.Id<=0)">
                            <RadzenColumn Size="4">

                                <RadzenFormField Text="Merek" class="rz-my-1 rz-w-100">

                                    <RadzenDropDown AllowClear="true" AllowFiltering="true"
                                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                    Data=@merks
                                                    @bind-Value=@merkid Change="@((args)=>SelectMerk(args))"
                                                    TextProperty="Name" ValueProperty="Id" Style="width:400px" />
                                </RadzenFormField>
                                <RadzenFormField Text="Cari Produk" class="rz-my-1 rz-w-100">
                                    <RadzenDropDown AllowClear="true" AllowFiltering="true"
                                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                    Data=@products.Where(item=> item.Merk.Id==merkid && !model.Items.Any(data=> data.Product.Id.Equals(item.Id)))
                                                    @bind-Value=@product.Id
                                                    TextProperty="CodeName" ValueProperty="Id" Style="width:400px"
                                                    Change=@(args => SelectProduct(args, "Supplier")) />
                                </RadzenFormField>
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenDataGrid @ref="ordersGrid" Data="@(model.Items)" AllowFiltering="true" AllowSorting="true" TItem="Penjualanitem">
                            <Columns>
                                <RadzenDataGridColumn TItem="Penjualanitem" Property="Product.CodeName" Title="Code" />
                                <RadzenDataGridColumn TItem="Penjualanitem" Property="Product.Name" Title="Product" />
                                <RadzenDataGridColumn Width="120px" TItem="Penjualanitem" Property="Product.CodeArticle" Title="Article" />
                                <RadzenDataGridColumn Width="80px" TItem="Penjualanitem" TextAlign="TextAlign.Right" Context="data" Title="Quantity">
                                    <Template Context="item">
                                        <RadzenNumeric TValue="double" @bind-Value="item.Quantity" Step="0.25" Change=@(args => OnChangeOrderItem(args, item)) />
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn Width="110px" TItem="Penjualanitem" Property="Unit.Name" Title="Unit">
                                    <Template Context="item">
                                        <RadzenDropDown @bind-Value="item.Unit" Data="@item.Product.Units"
                                                        Change=@(args => OnChangeOrderItem(args, item))
                                                        TextProperty="Name" Style="width:100%" />
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn Width="100px" TItem="Penjualanitem" Property="Price" Title="Price">
                                    <EditTemplate Context="item">
                                        <RadzenNumeric @bind-Value="item.Price" Step="0.25" />
                                    </EditTemplate>
                                    <Template Context="item">
                                        @item.Price.ToString("N")
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Penjualanitem" Width="150px" TextAlign="TextAlign.Right" Property="DiscountView" Title="Disc">
                                    <EditTemplate Context="item">
                                        <RadzenNumeric @bind-Value="item.Discount" Step="0.1" />
                                    </EditTemplate>
                                    <FooterTemplate>
                                        <div>Total</div>
                                        <div>Discount</div>
                                        <div>Biaya Pengiriman</div>
                                        <div>Total Payment </div>
                                    </FooterTemplate>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn Width="120px" TItem="Penjualanitem" Property="Total" Title="Total">
                                    <Template Context="item">
                                        @item.Total.ToString("N")
                                    </Template>
                                    <FooterTemplate>
                                        @{
                                            <div>@model.Total.ToString("N")</div>
                                            <div>@((model.TotalDiscount).ToString("N"))</div>
                                            <div>@((model.Expedisi).ToString("N"))</div>
                                            <div>@((model.Total+model.Expedisi - model.TotalDiscount).ToString("N"))</div>
                                        }
                                    </FooterTemplate>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Penjualanitem" Context="sampleBlazorModelsSampleOrder"
                                Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                                    <HeaderTemplate>
                                        <RadzenCheckBox Value="@(checkall)" TValue="bool" ValueChanged="@((x)=>OnCheckChange(x))" />
                                    </HeaderTemplate>
                                    <Template Context="order">
                                        <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => EditRow(order))">
                                        </RadzenButton>
                                    </Template>
                                    <EditTemplate Context="order">
                                        <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => SaveRow(order))">
                                        </RadzenButton>
                                        <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary"
                                        Click="@((args) => CancelEdit(order))">
                                        </RadzenButton>
                                    </EditTemplate>
                                </RadzenDataGridColumn>
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenFieldset>
                    <Radzen.Blazor.RadzenFieldset>
                        <div class="text-right">
                            <RadzenButton Click=@(args => Cancel()) Icon="undo" ButtonStyle="ButtonStyle.Warning" />
                            <RadzenButton Visible=@(model.Status== PaymentStatus.Belum?true:false) Click=@(args => Save(model)) Icon="save" ButtonStyle="ButtonStyle.Success" />
                            <RadzenButton Visible=@(model.Id > 0) Click=@(args => DialogService.OpenAsync<PrintPenjualanDialog>($"Cetak",
                                          new Dictionary<string, object>() { }, new DialogOptions())) Icon="print" ButtonStyle="ButtonStyle.Info" Style="margin-bottom:5px" />
                        </div>
                    </Radzen.Blazor.RadzenFieldset>

                </div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Catatan Lain">
                <div class="col-md-12">
                    <RadzenFieldset Text="Data Penjualan" Style="font-size:14px">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row" style="margin-top:10px">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Activity Status" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenTextBox Value="@model.Activity.ToString()" Style="width:80%" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Gudang" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenDropDown Data=@gudangs
                                        @bind-Value=@model.Gudang
                                        TextProperty="Name" Style="width:80%" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Fee Salesman (%)" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenNumeric @bind-Value="model.FeeSalesman" TValue="double" Placeholder="0.0" Step="0.1" Style="width:80%" />
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="row" style="margin-top:10px">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="CreateDate" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenDatePicker @bind-Value="model.CreateDate" Style="width:80%" />
                                    </div>
                                </div>

                                <div class="row" style="margin-top:10px">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Biaya Ekspedisi" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenNumeric @bind-Value="model.Expedisi" TValue="double" Placeholder="0.0" Step="0.1" Style="width:80%" />
                                    </div>
                                </div>


                                <div class="row" style="margin-top:10px">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Catatan/Keterangan" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenTextArea @bind-Value="model.Description" Style="width:80%"></RadzenTextArea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </RadzenFieldset>
                </div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Pembayaran" Visible="model.Id >0">
                <RadzenFieldset>
                    <RadzenButton Visible=@(model.Status!=PaymentStatus.Lunas?true:false)
                    Click=@(args => DialogService.OpenAsync<EditPenjualanPembayaran>($"Pembayaran",
                                  new Dictionary<string, object>() { { "IdPenjualan", model.Id },{ "Total", (model.Total+model.Expedisi-model.TotalDiscount)- pembayarans.Sum(x=>x.PayValue) } },
                                  new DialogOptions())) Icon="payment" ButtonStyle="ButtonStyle.Warning" Style="margin-bottom:5px" />



                    <RadzenDataGrid @ref="pembayaranGrid" Data="@(pembayarans)" AllowFiltering="true"
                    AllowPaging="true" FilterMode="FilterMode.Advanced" AllowSorting="true" TItem="PembayaranPenjualan">
                        <Columns>
                            <RadzenDataGridColumn TItem="PembayaranPenjualan" Property="PayDate" Title="Date">
                                <EditTemplate Context="item">
                                    <RadzenDatePicker @bind-Value="item.PayDate" />
                                </EditTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="PembayaranPenjualan" Property="PayType" Title="Type">

                            </RadzenDataGridColumn>

                            <RadzenDataGridColumn TItem="PembayaranPenjualan" Property="PayTo" Title="Name">
                                <EditTemplate Context="item">
                                    <RadzenTextBox @bind-Value="item.PayTo" />
                                </EditTemplate>
                            </RadzenDataGridColumn>

                            <RadzenDataGridColumn TItem="PembayaranPenjualan" Property="BankName" Title="Bank">
                                <EditTemplate Context="item">
                                    <RadzenTextBox @bind-Value="item.BankName" />
                                </EditTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="PembayaranPenjualan" Property="RekNumber" Title="Rekening">
                                <EditTemplate Context="item">
                                    <RadzenTextBox @bind-Value="item.RekNumber" />
                                </EditTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="PembayaranPenjualan" Property="Description" Title="Description">
                                <EditTemplate Context="item">
                                    <RadzenTextArea @bind-Value="item.Description" />
                                </EditTemplate>
                                <FooterTemplate>
                                    <div>Total</div>
                                    <div>Sisa</div>
                                </FooterTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="PembayaranPenjualan" Property="PayValue" Title="Total" TextAlign="TextAlign.Right">
                                <Template Context="item">
                                    @item.PayValue.ToString("N");
                                </Template>

                                <EditTemplate Context="item">
                                    <RadzenNumeric @bind-Value="item.PayValue" Step="0.25" />
                                </EditTemplate>
                                <FooterTemplate>
                                    <div>@pembayarans.Sum(x => x.PayValue).ToString("N")</div>
                                    <div>
                                        @{
                                            var sisa = (model.Total+model.Expedisi - model.TotalDiscount) - pembayarans.Sum(x => x.PayValue);
                                            @sisa.ToString("N")
                                            ;
                                        }
                                    </div>
                                </FooterTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="PembayaranPenjualan" Context="sampleBlazorModelsSampleOrder"
                            Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                                <Template Context="pembayaran">
                                    <RadzenButton Icon="edit" Size="ButtonSize.Medium" Click="@(args => EditPembayaranRow(pembayaran))">
                                    </RadzenButton>
                                </Template>
                                <EditTemplate Context="pembayaran">
                                    <RadzenButton Icon="save" Size="ButtonSize.Medium" Click="@(async (args) => await SavePembayaranRow(pembayaran))">
                                    </RadzenButton>
                                    <RadzenButton Icon="cancel" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Secondary"
                                    Click="@((args) => CancelPembayaranEdit(pembayaran))">
                                    </RadzenButton>
                                </EditTemplate>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>


                </RadzenFieldset>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
</div>

@code {

    [Parameter]
    public string id { get; set; }

    [Parameter]
    public string orderId { get; set; }

    private Product product = new Product();
    private IEnumerable<Merk> merks = new List<Merk>();
    private IEnumerable<Gudang> gudangs = new List<Gudang>();
    private IEnumerable<Customer> customers = new List<Customer>();
    private IEnumerable<Karyawan> sales = new List<Karyawan>();
    private IEnumerable<ProductStock> products = new List<ProductStock>();
    private Penjualan model = new Penjualan() { Items = new List<Penjualanitem>() };
    private List<PembayaranPenjualan> pembayarans = new List<PembayaranPenjualan>();
    RadzenDataGrid<Penjualanitem> ordersGrid;
    RadzenDataGrid<PembayaranPenjualan> pembayaranGrid;

    bool checkall;
    int merkid = 0;

    bool canEdit = true;


    protected override async Task OnInitializedAsync()
    {

        customers = await customerService.Get();
        merks = await merkService.Get();
        sales = await karyawanService.Get();
        gudangs = await gudangService.Get();
        var gudang = gudangs.FirstOrDefault();
        model.Gudang = gudang;
        if (!string.IsNullOrEmpty(id) || !string.IsNullOrEmpty(orderId))
        {

            int paramId = Convert.ToInt32(id);
            if (paramId > 0)
            {
                this.model = await penjualanService.GetPenjualan(paramId);
                this.pembayarans = (await penjualanService.GetPembayaran(paramId)).ToList();

            }


            int orderid = Convert.ToInt32(orderId);
            if (orderid > 0)
            {
                var order = await penjualanService.GetOrder(orderid);
                if (order != null)
                {
                    model = new Penjualan
                        {
                            CreateDate = DateTime.Now,
                            Customer = order.Customer,
                            Salesman = order.Sales,
                            Gudang = gudang,
                            OrderPenjualan = order,
                            DeadLine = 12,
                            Items = new List<Penjualanitem>(),
                            FeeSalesman = Helper.DefaultFeeSalesman
                        };

                    foreach (var item in order.Items)
                    {
                        model.Items.Add(new Penjualanitem
                            {
                                Discount = item.Discount,
                                Price = item.Price,
                                Product = item.Product,
                                Unit = item.Unit,
                                Quantity = item.Quantity
                            });
                        // var dataStock = products.SingleOrDefault(x => x.Id == item.Product.Id);
                        // if (dataStock != null)
                        // {
                        //     dataStock.Stock += (item.Quantity * item.Unit.Quantity);
                        // }
                    }
                }
            }
        }
        else
        {
            model = new Penjualan
                {
                    Gudang = gudangs.FirstOrDefault(),
                    DeadLine = 12,
                    FeeSalesman = Helper.DefaultFeeSalesman,
                    CreateDate = DateTime.Now,
                    Items = new List<Penjualanitem>()
                };

        }

        DialogService.OnClose += OnCloseDialog;
        await base.OnInitializedAsync();
    }
    void OnCheckChange(bool data)
    {
        checkall = !checkall;

        foreach (var item in model.Items)
        {
            if (checkall)
                ordersGrid.EditRow(item);

            else
            {
                ordersGrid.UpdateRow(item);
            }
        }
    }


    private void RemoveItem(Penjualanitem item)
    {
        model.Items.Remove(item);

    }
    private void Cancel()
    {
        nav.NavigateTo("/penjualan");
    }

    private async Task Save(Penjualan model)
    {
        try
        {
            var saved = false;
            if (model.Id <= 0)
            {

                var result = await penjualanService.CreatePenjualan(model.Id, model);
                if (result != null)
                {
                    model.Id = result.Id;
                    saved = true;
                    nav.NavigateTo($"/penjualan/realisasidetail/{model.Id}", true);
                }

            }
            else
            {
                var result = await penjualanService.UpdatePenjualan(model.Id, model);
                if (result != null)
                {
                    saved = true;
                }
            }


            if (saved)
            {
                notificationService.Notify(new NotificationMessage
                    {
                        Severity = NotificationSeverity.Success,
                        Summary = "Success",
                        Detail = "Penjualan Berhasil Disimpan !",
                        Duration = 3000
                    });

            }
        }
        catch (System.Exception ex)
        {
            notificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = ex.Message,
                    Duration = 3000
                });
        }

    }

    string OnErrorStock(Penjualanitem data)
    {
        var prod = products.Where(x => x.Id == data.Product.Id).FirstOrDefault();
        if (model.Status == PaymentStatus.Belum && prod != null && (prod.Stock - (data.Quantity * data.Unit.Quantity)) < 0)
        {
            return "red";
        }
        else
        {
            return "black";
        }
    }

    private async Task OnChangeOrderItem(object arg, Penjualanitem item)
    {

        if (arg.GetType() == typeof(Unit))
        {
            var unitId = ((Unit)arg).Id;
            var unit = item.Product.Units.Where(x => x.Id == unitId).FirstOrDefault();
            if (unit != null)
            {
                item.Unit = unit;
                item.Price = unit.Sell;
            }
            await Task.Delay(100);
        }


        var productStok = await stockService.GetStockByProductIdAndGudangId(item.Product.Id, model.Gudang.Id);
        if (productStok != null)
        {
            var readyStok = productStok.Quantity / item.Unit.Quantity;
            if (item.Quantity > readyStok)
            {
                notificationService.Notify(new NotificationMessage
                    {
                        Detail = $"Stock {item.Product.CodeName}/{item.Product.Name} Tidak Cukup \r Sisa Stock = {readyStok} {item.Unit.Name}",
                        Severity = NotificationSeverity.Error
                    });
                item.Quantity = readyStok;
            }
        }

        StateHasChanged();
    }

    void EditRow(Penjualanitem item)
    {
        ordersGrid.EditRow(item);
    }

    void SaveRow(Penjualanitem item)
    {
        ordersGrid.UpdateRow(item);
    }

    async Task CancelEdit(Penjualanitem item)
    {
        model.Items.Remove(item);
        await ordersGrid.Reload();
    }

    void EditPembayaranRow(PembayaranPenjualan item)
    {
        pembayaranGrid.EditRow(item);
    }

    async Task SavePembayaranRow(PembayaranPenjualan item)
    {
        await Task.Delay(1000);
        if (await penjualanService.UpdatePembayaran(item))
        {
            await pembayaranGrid.UpdateRow(item);
            notificationService.Notify(new NotificationMessage
                {
                    Detail = "Pembayaran Berhasil Diubah !",
                    Duration = 3000,
                    Severity = NotificationSeverity.Success,
                    Summary = "Success"
                });
        }
        else
        {
            pembayaranGrid.CancelEditRow(item);
            notificationService.Notify(new NotificationMessage
                {
                    Detail = "Pembayaran Gagal Diubah !",
                    Duration = 3000,
                    Severity = NotificationSeverity.Error,
                    Summary = "Error"
                });
        }
    }

    void CancelPembayaranEdit(PembayaranPenjualan item)
    {
        pembayaranGrid.CancelEditRow(item);
    }

    async Task SelectMerk(object data)
    {
        var merkid = Convert.ToInt32(data);
        var prod = (await stockService.GetProductStocks(model.Gudang.Id)).ToList();
        products = prod.Where(x => x.Merk.Id == merkid).ToList();
    }


    async Task SelectProduct(object value, string name)
    {
        var prodId = (int)value;
        var _product = products.Where(x => x.Id == prodId).FirstOrDefault();
        if (_product != null && model.Items.Where(x => x.Product.Id == _product.Id).FirstOrDefault() == null)
        {
            var item = new Penjualanitem { Product = _product, Quantity = 1 };
            item.Unit = _product.Units.FirstOrDefault();
            if (model.Items == null)
                model.Items = new List<Penjualanitem>();
            model.Items.Add(item);
        }
        product = new Product();
        await ordersGrid.Reload();
    }

    private async void OnCloseDialog(dynamic parameter)
    {
        try
        {
            if (((object)parameter).GetType() == typeof(PembayaranPenjualan))
            {
                PembayaranPenjualan data = (PembayaranPenjualan)parameter;
                if (data != null)
                {
                    var result = await penjualanService.CreatePembayaran(data.Penjualan.Id, data, false);
                    if (result == null)
                        throw new SystemException("Not Saved !");

                    pembayarans.Add(result);

                    if (pembayarans.Sum(x => x.PayValue) >= model.Total - model.TotalDiscount)
                        model.Status = PaymentStatus.Lunas;
                    else
                        model.Status = PaymentStatus.Panjar;

                    notificationService.Notify(new NotificationMessage
                        {
                            Detail = "Pembayaran Berhasil Dibuat",
                            Duration = 3000,
                            Severity = NotificationSeverity.Success,
                            Summary = "Success"
                        });
                }
                return;
            }

            if (((object)parameter).GetType() == typeof(string))
            {
                var dataString = (string)parameter;

                if (!string.IsNullOrEmpty(dataString) && dataString == "faktur")
                    await PrintFaktur();
                if (!string.IsNullOrEmpty(dataString) && dataString == "suratjalan")
                    await PrintSuratjalan();
            }


            if (pembayaranGrid != null)
            {
                await pembayaranGrid.RefreshDataAsync();

            }


        }
        catch (Exception ex)
        {
            notificationService.Notify(new NotificationMessage
                {
                    Detail = ex.Message,
                    Duration = 3000,
                    Severity = NotificationSeverity.Error,
                    Summary = "Error"
                });
        }
    }



    async Task PrintSuratjalan()
    {
        await jSRuntime.InvokeAsync<object>("open", $"/report/printsuratjalan/{model.Id}", "_blank");
    }
    async Task PrintFaktur()
    {
        await jSRuntime.InvokeAsync<object>("open", $"/report/printpenjualan/{model.Id}", "_blank");
    }


}
