@page "/data/piutang"

@using ShareModels.ModelViews;
@using Newtonsoft.Json;

@attribute [Authorize]


@inject IReportService reportService


<RadzenFieldset Text="Laporan Piutang">
    <div class="row">
        <div class="row" style="margin:5px">
            <div class="col-md-12">
                <div>
                    <span>Periode : @date.ToLongDateString()</span>
                </div>
                <a class="btn btn-info ui-button ui-button-md ui-widget ui-state-default ui-corner-all btn-info ui-button-icon-only" href="@($"/report/printpiutang/0")"><i class="ui-button-icon-left pi">print</i></a>

                <RadzenGrid @ref="grid" Data="@(datas)" FilterCaseSensitivity="FilterCaseSensitivity.Default"
                            AllowFiltering="true" AllowSorting="true" TItem="Penjualan">
                    <Columns>
                        <RadzenGridColumn TItem="Penjualan" Property="Nomor" Title="Nomor" Width="180px" />
                        <RadzenGridColumn TItem="Penjualan" Property="OrderPenjualan.Customer.Name" Title="Customer" />
                        <RadzenGridColumn TItem="Penjualan" Title="Jatuh Tempo" Width="100px">
                            <Template Context="item">
                                @if (item.CreateDate.AddDays(item.PayDeadLine) < DateTime.Now)
                                {
                                    <span style="color:red"> @item.CreateDate.AddDays(item.PayDeadLine).ToString("dd-MM-yyyy")</span>
                                }
                                else
                                {
                                    <span> @item.CreateDate.AddDays(item.PayDeadLine).ToString("dd-MM-yyyy")</span>
                                }
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="Penjualan" Property="Total" Title="Tagihan" TextAlign="TextAlign.Right" Width="160px">
                            <Template Context="item">
                                @item.Total.ToString("N2")
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="Penjualan" Title="Panjar" TextAlign="TextAlign.Right" Width="160px">
                            <Template Context="item">
                                @item.Pembayaranpenjualan.Sum(x => x.PayValue).ToString("N2")
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="Penjualan" Title="Sisa" TextAlign="TextAlign.Right" Width="160px">
                            <Template Context="item">
                                @((item.Total- item.Pembayaranpenjualan.Sum(x => x.PayValue)).ToString("N2"))
                            </Template>
                            <FooterTemplate>
                                @datas.Sum(x => x.Total - x.Pembayaranpenjualan.Sum(x => x.PayValue)).ToString("N2");
                            </FooterTemplate>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            </div>
        </div>
    </div>
</RadzenFieldset>




@code {

    RadzenGrid<Penjualan> grid;

    DateTime date = DateTime.Now;

    IEnumerable<Penjualan> datas;

    protected override async Task OnInitializedAsync()
    {
        datas = await reportService.GetPiutang();

    }



}
