@page "/data/stock"

@using ShareModels.ModelViews;
@attribute [Authorize]

@inject IProductService productService;
@inject ISupplierService supplierService


<div class="col-md-12">
    <RadzenFieldset Text="Data Real Stok">
        <a class="btn btn-info ui-button ui-button-md ui-widget ui-state-default ui-corner-all btn-info ui-button-icon-only" href="@($"/report/printstock/{supplierid}")"><i class="ui-button-icon-left pi">print</i></a>
        <RadzenGrid @ref="gridStock" Data="@(Stocks.Where(x=> supplierid==0?true: x.SupplierId==supplierid))" AllowFiltering="true" AllowSorting="true" TItem="ProductStock">
            <Columns>
                <RadzenGridColumn Width="180px" TItem="ProductStock" Property="CodeArticle" Title="Article" />
                <RadzenGridColumn Width="180px" TItem="ProductStock" Property="CodeName" Title="Code" />
                <RadzenGridColumn TItem="ProductStock" Property="Name" Title="Product" />
                <RadzenGridColumn Width="75px" TItem="ProductStock" Property="Size" Title="Size" />
                <RadzenGridColumn Width="75px" TItem="ProductStock" Property="StockView" Title="Stock" />
                <RadzenGridColumn Width="150px" TItem="ProductStock" Title="Unit">
                    <FilterTemplate>
                        <RadzenDropDown @bind-Value="@supplierid" TextProperty="Nama"
                                        ValueProperty="Id" Style="width:100%"
                                        Data=@suppliers />
                    </FilterTemplate>
                    <Template Context="data">
                        <Radzen.Blazor.RadzenDropDown Data="data.Units"
                                                      TextProperty="Name" @bind-Value="data.SelectedUnit">

                        </Radzen.Blazor.RadzenDropDown>
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn Width="150px" Title="Nilai" TItem="ProductStock" TextAlign="TextAlign.Right">
                    <Template Context="data">
                        @((data.SelectedUnit.Sell * data.StockView).ToString("N2"))
                    </Template>
                    <FooterTemplate>
                        @Stocks.Where(x => supplierid == 0 ? true : x.SupplierId == supplierid).Sum(x => x.SelectedUnit.Sell* x.StockView).ToString("N2");
                    </FooterTemplate>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </RadzenFieldset>
</div>

@code {

    RadzenGrid<ProductStock> gridStock;
    public List<ProductStock> Stocks { get; set; }
    public List<Supplier> suppliers { get; set; } = new List<Supplier>();
    int supplierid = 0;
    protected override async Task OnInitializedAsync()
    {
        suppliers.Add(new Supplier { Id=0, Nama="All" });
        var sups= await supplierService.GetSuppliers();

        foreach (var item in sups)
        {
            suppliers.Add(item);
        }

        var stocks = await productService.GetProductStock();
        Stocks = stocks.ToList();
        foreach (var item in Stocks)
        {
            item.SelectedUnit = item.Units.Where(x => x.Level == 0).FirstOrDefault();
        }

    }

}
