@page "/karyawan/change/{id?}"

@inject NavigationManager nav;
@inject IKaryawanService karyawanService;
@inject ICustomerService customerService;
@inject DialogService dialogService
@attribute [Authorize]

<Radzen.Blazor.RadzenFieldset Text="@title">
    <div class="row">
        <div class="col-xl-12">
            <RadzenTabs style="height: 750px">
                <Tabs>
                    <RadzenTabsItem Text="Data Karaywan">
                        <RadzenTemplateForm Data="model" Submit="@(async(Karyawan arg)=>await Save(arg))">
                            <Radzen.Blazor.RadzenFieldset Text="Data Karyawan/Sales">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="row" style="margin-top:10px">
                                            <div class="col-md-4 align-items-center d-flex">
                                                <RadzenLabel Text="Nama Karyawan/Sales" />
                                            </div>
                                            <div class="col-md-8">
                                                <RadzenTextBox @bind-Value="model.Name" Name="Name" />
                                                <RadzenRequiredValidator Component="Name" Text="Name is required" Popup=true Style="position: absolute" />
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top:10px">
                                            <div class="col-md-4 align-items-center d-flex">
                                                <RadzenLabel Text="Email" />
                                            </div>
                                            <div class="col-md-8">
                                                <RadzenTextBox @bind-Value="model.Email" />
                                                <RadzenRequiredValidator Component="Email" Text="Email Name is required" Popup=true Style="position: absolute" />
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top:10px">
                                            <div class="col-md-4 align-items-center d-flex">
                                                <RadzenLabel Text="Telepon" />
                                            </div>
                                            <div class="col-md-8">
                                                <RadzenTextBox @bind-Value="model.Telepon" Name="Telepon" />
                                                <RadzenRequiredValidator Component="Telepon" Text="Telepon is required" Popup=true Style="position: absolute" />
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top:10px">
                                            <div class="col-md-4 align-items-center d-flex">
                                                <RadzenLabel Text="Alamat" />
                                            </div>
                                            <div  class="col-md-8">
                                                <RadzenTextArea @bind-Value="model.Address" Name="Address" />
                                                <RadzenRequiredValidator Component="Address" Text="Address is required" Popup=true Style="position: absolute" />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <hr />
                                <div class="row text-center" style="margin:10px;display:flex">
                                    <Radzen.Blazor.RadzenButton  Icon="undo" ButtonType="ButtonType.Button" Click="@(()=>GoBack())" ButtonStyle="ButtonStyle.Info" 
                                        Style="margin:5px; width:50px" />
                                    <Radzen.Blazor.RadzenButton Icon="save" ButtonType="ButtonType.Button" Click="@(()=>Save(null))" ButtonStyle="ButtonStyle.Warning" 
                                        Style="margin:5px; width:50px"  />
                                </div>

                            </Radzen.Blazor.RadzenFieldset>
                        </RadzenTemplateForm>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="User Akses">
                        <RadzenButton Click=@AddRole Icon="add" ButtonStyle="ButtonStyle.Success"  />
                        <RadzenGrid @ref="grid" Data="model.User.Roles">
                            <Columns>
                                <RadzenGridColumn TItem="UserRole" Title="Role" Property="Role.Name" />
                                <RadzenGridColumn TItem="UserRole" Context="item" Width="100px">
                                    <Template>
                                        <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@(async()=> await DeleteRole(item))"></RadzenButton>
                                    </Template>
                                </RadzenGridColumn>
                            </Columns>
                        </RadzenGrid>
                    </RadzenTabsItem>

                    @if (customers != null && customers.Count() > 0)
                    {
                        <RadzenTabsItem Text="Data Customer">
                            <RadzenGrid Data="customers" AllowFiltering="true" AllowPaging="false" AllowSorting="true">
                                <Columns>
                                    <RadzenGridColumn TItem="Customer" Title="Name" Property="Name" />
                                    <RadzenGridColumn TItem="Customer" Title="Contact Person" Property="ContactName" Width="250px" />
                                    <RadzenGridColumn TItem="Customer" Title="Telepon" Property="Telepon" Width="250px" />
                                    <RadzenGridColumn TItem="Customer" Context="item" Width="65px">
                                        <Template>
                                            <RadzenButton Icon="info" ButtonStyle="ButtonStyle.Warning" Click="@(()=> nav.NavigateTo($"/customer/change/{item.Id}"))"></RadzenButton>
                                        </Template>
                                    </RadzenGridColumn>
                                </Columns>
                            </RadzenGrid>
                        </RadzenTabsItem>
                    }
                </Tabs>
            </RadzenTabs>
        </div>
    </div>
</Radzen.Blazor.RadzenFieldset>

@code {
    [Parameter]
    public string id { get; set; }

    public string title = "Add Karyawan";

    public Karyawan model { get; set; } = new Karyawan();
    IEnumerable<Customer> customers;

    RadzenGrid<UserRole> grid;


    protected override async Task OnInitializedAsync()
    {
        try
        {


            if (string.IsNullOrEmpty(id))
            {
                model = new Karyawan();
            }
            else
            {
                title = "Edit Karyawan/Sales";
                model = await karyawanService.Get(Convert.ToInt32(id));
                customers = await customerService.GetBySales(Convert.ToInt32(id));
            }
        }
        catch
        {
            //ex.Message;
        }
    }


    public async Task AddRole()
    {
        var args =await dialogService.OpenAsync<AddUserAccessView>($"Add Role Access",
                                        new Dictionary<string, object>() { { "model", model.User }, },
                                        new DialogOptions());

        if (args != null)
        {
            var result = args as UserRole;
            model.User.Roles.Add(result);
        }
        await grid.Reload();

    }

    async Task DeleteRole(UserRole role)
    {
        var result = await dialogService.Confirm("Yakin Hapus Role ? ", "Hapus ?");
        if (result.Value)
        {
            var deleted = await karyawanService.RemoveRole(role.Id);
            if (deleted)
                model.User.Roles.Remove(role);
        }
       await grid.Reload();
    }


    private async Task Save(Karyawan kar)
    {
        try
        {
            var Id = Convert.ToInt32(id);
            if (Id <= 0)
            {
                var data = await karyawanService.Post(model);
                if (data != null)
                {
                    nav.NavigateTo("/karyawan");
                }
            }
            else
            {
                var updated = await karyawanService.Update(Convert.ToInt32(id), model);
                if (updated)
                {
                    nav.NavigateTo("/karyawan");
                }
            }

           await grid.Reload();
        }
        catch
        {
            //ex.Message;
        }


    }


    private void GoBack()
    {
        nav.NavigateTo("/karyawan");
    }



}
