@page "/reports/stock"
@layout PrintLayout

@using ShareModels.ModelViews;
@inject IProductService productService
@inject ISupplierService supplierService




@if (datas != null)
{
    var nomor = 0;

    <div class="row">
        <div>
            <h2>Laporan Sisa Stock</h2>
            <h3>Per Tanggal : @DateTime.Now</h3>
            <RadzenDropDown AllowClear="true" AllowFiltering="true"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            Data=@suppliers
                            @bind-Value=@supplierId
                            TextProperty="Nama" ValueProperty="Id" Style="width:400px"
                            Change=@(args => ChangeSupplier(args)) />
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Product Name</th>
                    <th>Product Code</th>
                    <th>Article</th>
                    <th>Jumlah</th>
                    <th>Unit</th>
                    <th>Ket</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in datas.Where(x => x.SupplierId == supplierId && x.StockView>0).OrderByDescending(x => x.StockView))
                {
                    nomor++;
                    <tr>
                        <td>@nomor</td>
                        <td>@item.Name</td>
                        <td>@item.CodeName</td>
                        <td>@item.CodeArticle</td>
                        <td>@item.StockView</td>
                        <td>@item.SelectedUnit.Name</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

}


<style>
    .table td, .table th {
        padding: 0.40rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
</style>


@code {

    Supplier SupplierModel;
    IEnumerable<Supplier> suppliers;
    IEnumerable<ProductStock> datas;
    int supplierId;



    protected override async Task OnInitializedAsync()
    {
        suppliers = await supplierService.GetSuppliers();
        datas = await productService.GetProductStock();
        if (datas != null)
        {
            var supplier = datas.FirstOrDefault();
            SupplierModel = supplier.Supplier;
        }
    }


    async Task ChangeSupplier(object value)
    {

    }

}
