@page "/data/piutang"

@using ShareModels.ModelViews;
@using ShareModels.Reports;

@attribute [Authorize]


@inject IReportService reportService
@inject NavigationManager nav
@inject IJSRuntime jsRuntime

<RadzenFieldset>
    <HeaderTemplate>
        <h5>LAPORAN PIUTANG</h5>
    </HeaderTemplate>
    <ChildContent>
        <div class="row">
            <div class="row" style="margin:5px">
                <div class="col-md-12">
                    <div style="margin-bottom:30px; display:flex; justify-content: space-between;">
                        <div>
                            <span>Periode : @date.ToLongDateString()</span>
                        </div>
                        <RadzenButton Icon="print" Text="Cetak" ButtonStyle="ButtonStyle.Danger"
                                      Click="@(()=>  { jsRuntime.InvokeAsync<object>("open", $"/report/printpiutang/0", "black"); })" />
                    </div>
                    <RadzenDataGrid @ref="grid" Data="@(datas)" FilterCaseSensitivity="FilterCaseSensitivity.Default" 
                        AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowSorting="true" TItem="PiutangData">
                        <Columns>
                            <RadzenDataGridColumn TItem="PiutangData" Title="Nomor" Width="160px">
                                <Template Context="item">
                                    <RadzenLabel @onclick="@(()=>Detail(item))" Text="@item.Nomor" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="PiutangData" Property="Customer" Title="Customer" />
                            <RadzenDataGridColumn TItem="PiutangData" Title="Jatuh Tempo" Width="150px">
                                <Template Context="item">
                                    @if (item.JatuhTempo < DateTime.Now)
                                    {
                                        <span style="color:#f34848">@item.JatuhTempo.ToString("dd-MM-yyyy")</span>
                                    }
                                    else
                                    {
                                        <span> @item.JatuhTempo.ToString("dd-MM-yyyy")</span>
                                    }
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="PiutangData" Property="Sales" Title="Sales" />
                            <RadzenDataGridColumn TItem="PiutangData" TextAlign="TextAlign.Right" Width="110px">
                                <Template Context="item">
                                    @item.TagihanAfterDiscount.ToString("N0")
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="PiutangData" Title="Panjar" TextAlign="TextAlign.Right"
                                Width="110px">
                                <Template Context="item">
                                    @item.Panjar.ToString("N0")
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="PiutangData" Title="Sisa" TextAlign="TextAlign.Right"
                                Width="110px">
                                <Template Context="item">
                                    @(item.Sisa.ToString("N0"))
                                </Template>
                                <FooterTemplate>
                                    @datas.Sum(x => x.Sisa).ToString("N0");
                                </FooterTemplate>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </div>
            </div>
        </div>
    </ChildContent>

</RadzenFieldset>




@code {
    RadzenDataGrid<PiutangData> grid;

    DateTime date = DateTime.Now;

    IEnumerable<PiutangData> datas;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            datas = await reportService.GetPiutang();
        }
        catch
        {

        }

    }



    public void Detail(PiutangData data)
    {
        var item = (PiutangData)data;
        nav.NavigateTo($"penjualan/realisasidetail/{item.PenjualanId}");
    }


}
