@page "/supplier/change/{id?}"

@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

@inject NavigationManager nav;
@inject ISupplierService supplierService;
@inject NotificationService NotificationService;



<h3>@title</h3>

<RadzenFieldset Text="@title">
    <EditForm Model="@model" OnValidSubmit="@Save">

        <RadzenRow>
            <RadzenColumn Size="6" Style="flex gap-4">
                <RadzenFormField Text="Nama Perusahaan" Style="width: 100%;">
                    <RadzenTextBox @bind-Value="@model.Nama" />
                </RadzenFormField>
                <RadzenFormField Text="NPWP" Style="width: 100%;">
                    <RadzenTextBox @bind-Value="@model.NPWP" />
                </RadzenFormField>
                <RadzenFormField Text="Email" Style="width: 100%;">
                    <RadzenTextBox @bind-Value="@model.Email" />
                </RadzenFormField>
                <RadzenFormField Text="Telepon " Style="width: 100%;">
                    <RadzenTextBox @bind-Value="@model.Telepon" />
                </RadzenFormField>
                <RadzenFormField Text="Nama Contact Person" Style="width: 100%;">
                    <RadzenTextBox @bind-Value="@model.ContactPersonName" />
                </RadzenFormField>
                <RadzenFormField Text="Telepon Contact Person" Style="width: 100%;">
                    <RadzenTextBox @bind-Value="@model.ContactPerson" />
                </RadzenFormField>
                <RadzenFormField Text="Alamat" Style="width: 100%;">
                    <RadzenTextArea @bind-Value="@model.Address" Rows="3" />
                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn Size="6"></RadzenColumn>
            <RadzenRow class="rz-my-5 rz-display-flex" style="justify-content:end; width:100%">
                <Radzen.Blazor.RadzenButton Icon="undo" Text="Kembali" ButtonType="ButtonType.Button" Click="@(()=>GoBack())" ButtonStyle="ButtonStyle.Info" />
                <Radzen.Blazor.RadzenButton Icon="save" Text="Simpan" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Warning" />
            </RadzenRow>
        </RadzenRow>
    </EditForm>
</RadzenFieldset>



@code {
    [Parameter]
    public string id { get; set; }

    public string title = "Tambah Supplier";

    public Supplier model { get; set; } = new Supplier();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (string.IsNullOrEmpty(id))
            {
                model = new Supplier();
            }
            else
            {
                title = "Edit Supplier";
                model = await supplierService.GetSupplier(Convert.ToInt32(id));
            }
        }
        catch
        {
            //ex.Message;
        }
    }


    private async Task Save()
    {
        try
        {
            var Id = Convert.ToInt32(id);
            if (Id <= 0)
            {
                var data = await supplierService.Post(model);
                if (data != null)
                {
                    nav.NavigateTo("/supplier");
                }
            }
            else
            {
                var updated = await supplierService.Update(Convert.ToInt32(id), model);
                if (updated)
                {
                    nav.NavigateTo("/supplier");
                }
            }


        }
        catch (Exception ex)
        {
            NotificationService.Notify(new NotificationMessage
                {
                    Detail = ex.Message,
                    Duration = 3000,
                    Severity = NotificationSeverity.Error,
                    Summary = "Error"

                });
        }


    }


    private void GoBack()
    {
        nav.NavigateTo("/supplier");
    }



}
