@layout AuthLayout

@using QRCoder;
@using System.Drawing;
@using System.Drawing.Imaging;
@using System.IO;

<div class="col-md-12 justPrint" style="padding-left:0px">
    <div class="row">
        <div class="col">
            <h2>FAKTUR PENJUALAN</h2>
            <h6>SUN SWALLOW</h6>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label col-form-label-sm">Nomor</label>
                <div class="col-sm-8">
                    <input type="text" value="@Model.Nomor" class="form-control form-control-sm">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label col-form-label-sm">Customer</label>
                <div class="col-sm-8">
                    <textarea value="@(Model.Customer.Name+"\r\n"+Model.Customer.Address)" style="width:100%; min-height:75px" class="form-control form-control-sm"></textarea>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="col" style="text-align:right">
                <RadzenImage Path="@barcode_text" Style="width:100px" />
            </div>
        </div>
        <div class="col">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label col-form-label-sm">Tanggal</label>
                <div class="col-sm-8">
                    <input type="text" value="@(Model.CreateDate.ToString("dd-MM-yyyy"))" class="form-control form-control-sm">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label col-form-label-sm">Jatuh Tempo</label>
                <div class="col-sm-8">
                    <input type="text" value="@(Model.PayDeadLine.ToString("dd-MM-yyyy"))" class="form-control form-control-sm">
                </div>
            </div>
            @if (Model.Discount > 0)
            {
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Discount</label>
                    <div class="col-sm-8">
                        <input type="text" value="@Model.Discount %" class="form-control form-control-sm">
                    </div>
                </div>
            }
            <div class="form-group row">
                <label class="col-sm-4 col-form-label col-form-label-sm">Sales</label>
                <div class="col-sm-8">
                    <input type="text" value="@Model.Sales.Name" class="form-control form-control-sm">
                </div>
            </div>
        </div>
    </div>

    <table class="table ">
        <thead>
            <tr>
                <th>No</th>
                <th>Kode Article</th>
                <th>Nama Barang</th>
                <th colspan="2">Jumlah</th>
                <th>Harga</th>
                @if (Model.Discount > 0)
                {
                    <th>Discount</th>
                }
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items.Count > 0)
            {
                var i = 1;
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.Product.CodeArticle</td>
                        <td>@item.Product.Name @item.Product.Size</td>
                        <td style="text-align:right">@(item.Amount)</td>
                        <td>@(item.Unit.Name)</td>
                        <td>@(item.Price.ToString("N2"))</td>
                        @if (Model.Discount > 0)
                        {
                    <td style="text-align:right">@((item.Total*Model.Discount/100).ToString("N2"))</td>
                        }
                    <td style="text-align:right">
                        @((item.Total -(item.Total * Model.Discount/100)).ToString("N2"))</td>
                    </tr>
                    i++;
                }


        <tr>


            <th colspan="3" style="text-align:left">
                <div class="datainfo">
                    <div> Barang2 telah diterima dengan baik dan cukup </div>
                    Barang2 telah dibeli tidak dapat ditukar/dikembalian
                    <div>
                        Pembayaran dapat ditransfer Ke :
                        <div>Nama : Elisabeth Hamid</div>
                        Ac : (Bank Mandiri) 154-00-1667520-3
                    </div>
                </div>
            </th>
            <td colspan="3" style="text-align:center">
                <div style="margin-top:5px">Hormat Kami</div>
                <div style="margin-top:45px">Elisabeth Hamid</div>


            </td>
            <th  style="text-align:right">
                Total
            </th>

            <th style="text-align:right">
                @(Model.Items.Sum(item=> (item.Total - (item.Total * Model.Discount / 100))).ToString("N2"));
            </th>
        </tr>
            }
        </tbody>
    </table>
   
    
</div>

@code {
        [Parameter]
        public RenderFragment ChildContent { get; set; }

        [Parameter]
        public Penjualan Model { get; set; }

        string barcode_text = "";


    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        if (Model.Id > 0)
        {

            using (var ms = new MemoryStream())
            {
                QRCodeGenerator qrGenerator = new QRCodeGenerator();
                QRCodeData qrCodeData = qrGenerator.CreateQrCode(Model.Nomor, QRCodeGenerator.ECCLevel.Q);
                QRCode qrCode = new QRCode(qrCodeData);

                using (Bitmap bitmap = qrCode.GetGraphic(20))
                {
                    bitmap.Save(ms, ImageFormat.Png);
                    barcode_text = "data:image/png;base64," + Convert.ToBase64String(ms.ToArray());
                }

                Bitmap qrCodeImage = qrCode.GetGraphic(20);
            }

        } 
    }
}
